{% extends "default_web/base.html" %}    

    {% block title %}About Glogou Inc.{% endblock %}
    {% block description %}{% endblock %}
    {% block keyword %}{% endblock %}


    {% block content %}

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">About
                    <small>Glogou Inc.</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="index.html">Home</a>
                    </li>
                    <li class="active">About</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!-- Intro Content -->
        <div class="row">
            <div class="col-md-6">
                <!-- <img class="img-responsive" src="http://placehold.it/750x450" alt=""> -->
                <img class="img-responsive" src="/static/images/globe.jpg" alt="">
            </div>
            <div class="col-md-6">
                <h4>Our Company</h4>
                <p>Glogou is a USA corporation, headquartered in Silicon Valley, with offices in Boston and Beijing. Glogou Inc. is incorporated in Delaware. Our team includes experienced silicon valley engineers and business people. Many of our founding team members are Stanford Ph.Ds and MBAs.</p>
                <h4>Our Mission</h4>
                <p>To provide the best digital marketing technology and services to enable businesses to discover profitable international market opportunities, reaching global customers with the most effective marketing solutions.</p>
                <p>We help you attract more customers with the highest conversion rates.</p>
                <h4>Our Services</h4>
                <p>Glogou helps you to reach more customers with innovative digital marketing technologies. Glogou has successfully served clients from many industries including, but not limited to destination marketing, real estate, tourism, luxury goods/life style products, education and high-tech equipments from all over the world with excellent results. We help our clients to reach more customers, including China and Asia. </p>
            </div>
        </div>
        <!-- /.row -->

        <!-- Team Members -->
        <div class="row">
<!--             <div class="col-md-6">
                <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                <img class="img-responsive" src="/static/images/staff2.jpg" alt="">
            </div> -->
            <div class="col-md-6">
                <hr>
                <hr>
                <h3>Staff Composition</h3>
                <p> </p>
                <p>Glogou is composed of 18% Phds, 80% masters and 2% undergraduates who are the experts in computer science, software engineering, marketing and finance.</p>   
                <p>Most of them are have more than 10 years of experience in their working fields. </p>  
                <p>Blah blah blah... </p>            
            </div>
            <div class="col-md-6"> 
                <!-- <img class="img-responsive" src="http://placehold.it/750x450" alt=""> -->
                <img class="img-responsive" src="/static/images/staff2.jpg" alt="">
            </div>
        </div>
<!--         <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Our Team</h2>
            </div>
            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                    <div class="caption">
                        <h3>John Smith<br>
                            <small>Job Title</small>
                        </h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste saepe et quisquam nesciunt maxime.</p>
                        <ul class="list-inline">
                            <li><a href="#"><i class="fa fa-2x fa-facebook-square"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                    <div class="caption">
                        <h3>John Smith<br>
                            <small>Job Title</small>
                        </h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste saepe et quisquam nesciunt maxime.</p>
                        <ul class="list-inline">
                            <li><a href="#"><i class="fa fa-2x fa-facebook-square"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                    <div class="caption">
                        <h3>John Smith<br>
                            <small>Job Title</small>
                        </h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste saepe et quisquam nesciunt maxime.</p>
                        <ul class="list-inline">
                            <li><a href="#"><i class="fa fa-2x fa-facebook-square"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- /.row -->

        <!-- Our Customers -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Our Customers</h2>
            </div>
            <!-- <div class="col-md-2 col-sm-4 col-xs-6"> -->
            <div class="col-md-4 col-sm-8 col-xs-16">
                 <div class="thumbnail">
                <!-- <img class="img-responsive customer-img" src="http://placehold.it/500x300" alt=""> -->
                <img class="img-responsive customer-img" src="/static/images/customers/empowered-ucla-extension-2.jpg" alt="">
                </div>
            </div>
            <!-- <div class="col-md-2 col-sm-4 col-xs-6"> -->
            <div class="col-md-4 col-sm-8 col-xs-16">
                 <div class="thumbnail">
                <!-- <img class="img-responsive customer-img" src="http://placehold.it/500x300" alt=""> -->
                <img class="img-responsive customer-img" src="/static/images/customers/CRUSA.png" alt="">
                </div> 
            </div>
            <!-- <div class="col-md-2 col-sm-4 col-xs-6"> -->
            <div class="col-md-4 col-sm-8 col-xs-16">
                <div class="thumbnail">
                <!-- <img class="img-responsive customer-img" src="http://placehold.it/500x300" alt=""> -->
                <img class="img-responsive customer-img" src="/static/images/customers/Columbia_SIPA.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="row">
            <!-- <div class="col-md-2 col-sm-4 col-xs-6"> -->
            <div class="col-md-4 col-sm-8 col-xs-16">
                <div class="thumbnail">
                <!-- <img class="img-responsive customer-img" src="http://placehold.it/500x300" alt=""> -->
                <img class="img-responsive customer-img" src="/static/images/customers/surterre_properties.png" alt="">
                </div>
            </div>
            <!-- <div class="col-md-2 col-sm-4 col-xs-6"> -->
            <div class="col-md-4 col-sm-8 col-xs-16">
                <div class="thumbnail">
                <!-- <img class="img-responsive customer-img" src="http://placehold.it/500x300" alt=""> -->
                <img class="img-responsive customer-img" src="/static/images/customers/parker4.jpeg" alt="">
                </div>
            </div>
            <!-- <div class="col-md-2 col-sm-4 col-xs-6"> -->
            <div class="col-md-4 col-sm-8 col-xs-16">
                <div class="thumbnail">
                <!-- <img class="img-responsive customer-img" src="http://placehold.it/500x300" alt=""> -->
                <img class="img-responsive customer-img" src="/static/images/customers/UIUC.gif" alt="">
            </div>
            </div>
        </div>
        <!-- /.row -->

        <hr>

    {% endblock %}