{% extends "default_web/base.html" %}    

    {% block title %}Glogou Featured Client in Real Estate Sector{% endblock %}
    {% block description %}{% endblock %}
    {% block keyword %}{% endblock %}


    {% block content %}

     <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-6 btn-success text-center">
                <hr>
                    <h1> Currently the page is under construcition, please wait! </h1>

                <hr>
            </div>
        </div>
    {% endblock %}