{% extends "default_web/base.html" %}

{#    {% block title %}Glogou Product and Service{% endblock %}#}
{% block description %}{% endblock %}
{% block keyword %}{% endblock %}
{% block title %}Glogou Featured Client in Education Sector{% endblock %}


{% block content %}

    <!-- Page Content -->
    <div id="page-wrapper">

        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Please choose the product you want to search</h1>
                <!--start sample search -->
                <form class="form-inline" id="cat-form" action="/default_web/getCat" method="GET" style="width:100%">
                    <div class="form-group dropdown col-sm-2" style="padding-left: 0px">
                        <label class="sr-only" for="cat1">Category_1</label>
                        <input type="text" class="form-control hidden" id="cat1">
                        <button class="btn btn-default dropdown-toggle" type="button" id="cat1-list"
                                data-toggle="dropdown" aria-expanded="true" style="width: 100%; text-align: left">
                            <strong>Please Select</strong>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenuCat1">
                            {% for cat1 in all_cat1 %}
                            <li><a>{{ cat1.eng_kw }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="form-group dropdown col-sm-2" style="padding-left: 0px">
                        <label class="sr-only" for="cat2">Category_2</label>
                        <input type="text" class="form-control hidden" id="cat2">
                        <button class="btn btn-default dropdown-toggle disabled"  type="button" id="cat2-list"
                                data-toggle="dropdown" aria-expanded="true" style="width: 100%; text-align: left">
                            All
                            <span class="caret"></span>
                        </button>
                        <ul id = "dropdown-cat2" class="dropdown-menu" role="menu" aria-labelledby="dropdownMenuCat2">
                        </ul>
                    </div>
                    <div class="form-group dropdown col-sm-2" style="padding-left: 0px">
                        <label class="sr-only" for="cat3">Category_3</label>
                        <input type="text" class="form-control hidden" id="cat3">
                        <button class="btn btn-default dropdown-toggle disabled" type="button" id="cat3-list"
                                data-toggle="dropdown" aria-expanded="true" style="width: 100%; text-align: left">
                            All
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenuCat3">
                        </ul>
                    </div>
                    <button type="submit" class="btn btn-primary">Search</button>
                </form>
            </div>
        </div>
    </div>
<script>
var cat1 = "";
$("#cat-form ul.dropdown-menu li").on('click', function() {
    var group_parent = $(this).parent().parent();
    var selected = $(this).children("a").html();
    cat1 = selected;
    group_parent.find("button strong").html(selected);
    var input = group_parent.find("input[type='text']").val(selected);
    if (input != "") {
        $("#cat2-list").removeClass("disabled");
        getCat2();
    }
});

function getCat2() {
    if (cat1 != "") {
        var url = "/default_web/getCat2/cat/" + cat1;

        $("#dropdown-cat2").empty();
        $.get(url).done(function (data) {
            var ul = document.getElementById("dropdown-cat2");
            $(data).each(function (key, val) {
                var li = document.createElement("li");
                li.appendChild(document.createTextNode(val.eng_kw));
                ul.appendChild(li);

            });
        });
    }
}
</script>

{% endblock %}
