{% extends "default_web/base.html" %}    

    {% block title %}Glogou Product and Service{% endblock %}
    {% block description %}{% endblock %}
    {% block keyword %}{% endblock %}


    {% block content %}
    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Sales Signal Processing
                    <small>provide detail market information about your products</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Project One -->
        <div class="row">
            <div class="col-md-7">
                <a href="#">
                    <img class="banner img-responsive img-portfolio img-hover" src="/static/images/marketing_indicator.png"></img>
                </a>
            </div>
            <div class="col-md-5">
                <h3>Please input the product name you want to analyze</h3>
                <!-- <h4>Subheading</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.</p> -->
                <!--
                <form action="">
                    category
                    <select name="category">
                        <option value="education"> Education Market </option>
                        <option value="dest_mkt"> Destination Marketing </option>
                        <option value="real_estate"> Real Estate </option>
                        <option value="high_tech"> High Tech industry </option>
                    </select>
                </form>
                -->
                <div class="ui-widget">
                    <label for="tags">Product Name:</label>
                    <input id="tags">
                </div>

                <br>
                <a class="btn btn-primary" href="/default_web/stage1_result/">See Result <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <!-- /.row -->
    {% endblock %}
