{% extends "default_web/base.html" %}

    {% block content %}

	<div class="page-top">
		<ol class="breadcrumb">
			<li><a href="http://www.glogou.com">Home</a></li>
			<li class="active">Testimonials</li>
		</ol>
		<h1>Testimonials</h1>
	</div> <!--/page-top-->
		
    <section class="container">
        <p class="testimonial-title">
			<a href="http://usa.chinadaily.com.cn/2013-05/17/content_16506762.htm" target="_blank"> News from ChinaDaily:</a>
		</p>
		<p class="testimonial-detail">
			"Services like Glogou can help incumbents gain more ads and more revenue, thereby increasing their ability to keep the Chinese search market competitive" - professor Edelman at Harvard Business School. &nbsp;&nbsp;&nbsp;&nbsp;
			<a href="http://usa.chinadaily.com.cn/2013-05/17/content_16506762.htm" target="_blank">read more...</a>  
		</p>
		
		<p class="testimonial-title">
			<a href="http://www.mercurynews.com/ci_21416810/silicon-valley-startup-helps-small-companies-do-business" target="_blank">News from MercuryNews:</a>
		</p>
		<p class="testimonial-detail">
			"In the five months since we launched our Chinese site (with help of Glogou), we've had 8,000 visits (to the website) from the China geographic area," said Paula Ansara-Wilhelm, co-founder of Surterre Properties. "In the four years prior, we only had a total of 7,000 visits." &nbsp;&nbsp;&nbsp;&nbsp;	
			<a href="http://www.mercurynews.com/ci_21416810/silicon-valley-startup-helps-small-companies-do-business" target="_blank">read more...</a>  
		</p>
    </section> <!--/container-->

    {% endblock %}