
{% extends "default_web/base.html" %}

    {% load staticfiles %}

    {% block title %}Glogou Product and Service{% endblock %}
    {% block description %}{% endblock %}
    {% block keyword %}{% endblock %}


    {% block content %}

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Budget Allocation
                    <small>How to allocate the budget for various marketing product </small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Project One -->
        <div class="row">
            <div class="col-md-7">
                <a href="#">
                    <img class="banner img-responsive img-portfolio img-hover" src="/static/images/puzzle-csd.jpg">
                </a>
            </div>
            <div class="col-md-5">
{#               <h3>Service We provide:</h3>#}
                 <h3 class="#{$fa-css-prefix}-align-left">Service We provide:</h3>
{#                <label class="col-sm-3 control-label">Service We provide:</label>#}

                <!--
                <form action="">
                    category
                    <select name="category">
                        <option value="education"> Education Market</option>
                        <option value="dest_mkt"> Destination Marketing</option>
                        <option value="real_estate"> Real Estate</option>
                        <option value="high_tech"> High Tech industry</option>
                    </select>
                </form>
                -->

                <form class="form-horizontal" method="GET" action="/restapi/industry_list/">
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="selectCategory">Category</label>
                        <div class="col-sm-9">

                            <select id="selectCategory" class="form-control">
                                <option value=""> Please select your busniess sector... </option>
                                <option value="education"> Education Market </option>
                                <option value="dest_mkt"> Destination Marketing </option>
                                <option value="real_estate"> Real Estate </option>
                                <option value="high_tech"> High Tech industry </option>

                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="selectBudget">Budget</label>
                        <div class="col-sm-9">
                            <select id="selectBudget" class="form-control">
                                <option value="">Select one...</option>
                                <option value="ActionScript">1,000</option>
                                <option value="AppleScript">2,000</option>
                                <option value="Asp">3,000-5,000</option>
                                <option value="BASIC">5,000-10,000</option>
                                <option value="C">10,000-20,000</option>
                                <option value="C++">20,000-50,000</option>
                                <option value="Clojure">50,000-100,000</option>
                                <option value="COBOL">100,000+</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-9">
                            <a class="btn btn-primary" onclick="showResult();">See Result <span class="glyphicon glyphicon-chevron-right"></span></a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- /.row -->
        <div class="row">
            <table class="table hidden" id="result-table">
                <tr>
                    <th>Suggested Channel</th>
                    <th>Budget Allocation</th>
                    <th>Expected Clicks</th>
                    <th>Average Cost per Click</th>
                    <th>Expected Impressions</th>
                    <th>Average Cost per Impression</th>
                </tr>
            </table>
        </div>

    </div>

    <script src="{% static 'javascript/testGetResult.js' %}"></script>
    {% endblock %}
