
{% extends "budget_allocation/base.html" %}

    {% load staticfiles %}

    {% block title %}Glogou Product and Service{% endblock %}
    {% block description %}{% endblock %}
    {% block keyword %}{% endblock %}


    {% block content %}

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Budget Allocation
                    <small>How to allocate the budget for various marketing product </small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Project One -->
        <div class="row">
{#            <div class="col-md-7">#}
{#                <a href="#">#}
{#                    <img class="banner img-responsive img-portfolio img-hover" src="/static/images/puzzle-csd.jpg">#}
{#                </a>#}
{#            </div>#}
            <div class="col-md-7">
                <a href="#">
                    <img class="banner img-responsive img-portfolio img-hover" src="/static/images/puzzle-csd.jpg">
                </a>
            </div>
            <div class="col-md-5">
{#               <h3>Service We provide:</h3>#}
                 <h3 class="#{$fa-css-prefix}-align-left">Service We provide:</h3>
{#                <label class="col-sm-3 control-label">Service We provide:</label>#}

                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="selectCategory">Category</label>
                        <div class="col-sm-5">

                            <select id="selectCategory" class="form-control" onchange="getSubCategory()">
                                <option value=""> Business sector... </option>

                            </select>
                        </div>
                        <label class="sr-only" for="selectSubCategory">Sub Category</label>
                        <div class="col-sm-4">
                            <select id="selectSubCategory" class="form-control">
                                <option value="">Sub business sector...</option>
                            </select>
                        </div>
                    </div>

{#                    <div class="form-group">#}
{#                        <label class="col-sm-3 control-label" for="selectBudget">Budget</label>#}
{#                        <div class="col-sm-9">#}
{#                            <select id="selectBudget" class="form-control">#}
{#                                <option value="">Select one...</option>#}
{#                                <option value="1000">less than $1,000</option>#}
{#                                <option value="2000">$2,000</option>#}
{#                                <option value="3000">$3,000</option>#}
{#                                <option value="4000">$4,000</option>#}
{#                                <option value="5000">$5,000</option>#}
{#                                <option value="6000">$6,000</option>#}
{#                                <option value="7000">$7,000</option>#}
{#                                <option value="8000">$8,000</option>#}
{#                                <option value="9000">$9,000</option>#}
{#                                <option value="100000">$100,000+</option>#}
{#                            </select>#}
{#                        </div>#}
{#                    </div>#}
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="selectGoal">Campaign Goal</label>
                        <div class="col-sm-9">
                            <select id="selectGoal" class="form-control">
                                <option value="">Please select the Campaign goal</option>
                                <option value="click">I want to get more clicks after campaign</option>
                                <option value="impression">I want to get more impressions after campaign</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-9">
                        {#<a class="btn btn-primary" onclick="showResult();">See Result <span class="glyphicon glyphicon-chevron-right"></span></a>#}
                        <a id="see_result_button" class="btn btn-primary" onclick="showResultPage();">See Result <span class="glyphicon glyphicon-chevron-right"></span></a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- /.row -->
        <div class="row">
            <table class="table hidden" id="result-table">
                <tr>
                    <th>Suggested Channel</th>
                    <th>Budget Allocation</th>
                    <th>Expected Clicks</th>
                    <th>Average Cost per Click</th>
                    <th>Expected Impressions</th>
                    <th>Average Cost per Impression</th>
                </tr>
            </table>
        </div>

    </div>

    <script src="{% static 'javascript/testGetResult.js' %}"></script>
    <script>
    var url = "/budget_allocation/get_industryNameList";
    $.get(url).done(function(data) {
        var selectElem = $("#selectCategory");

        $(data).each(function(idx, category) {
            transIndustryName = translateCategory(category.industryName);
            $("<option></option>").attr("value", category.industryName).html(transIndustryName).appendTo(selectElem)
        });
    }).fail(function(data) {
        alert("Status Code: " + data.status + ", Status Text: " + data.statusText + ", Response Text: " + data.responseText);
    });

    </script>
    {% endblock %}
