
{% extends "budget_allocation/base.html" %}

    {% load staticfiles %}

    {% block title %}Glogou Product and Service{% endblock %}
    {% block description %}{% endblock %}
    {% block keyword %}{% endblock %}


    {% block content %}

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Media and Budget Planning
                    <small>Which Media to Choose and How to Allocate the Budget</small>
                </h1>
            </div>
        </div>

        <div class="row">
             <div class="col-md-12">
                <h4 class="#{$fa-css-prefix}-align-left">Choose the Category and Sub Category to Start a Campaign:</h4>

                <form class="form-horizontal #{$fa-css-prefix}-align-left" >
                    <div class="form-group">
                        <label class="col-md-1 control-label" for="selectCategory">Category</label>
                        <div class="col-md-2">
                            <select id="selectCategory" class="form-control" onchange="getSubCategory()">
                                <option value=""> Business sector... </option>
                            </select>
                        </div>
                        <label class="col-md-1 control-label" for="selectSubCategory">Sub Category</label>
                        <div class="col-md-2">
                            <select id="selectSubCategory" class="form-control">
                                <option value="">Sub business sector...</option>
                            </select>
                        </div>
                        <label class="col-md-1 control-label" for="selectGoal">Campaign Goal</label>
                        <div class="col-md-3">
                            <select id="selectGoal" class="form-control">
                                <option value="">Please select the Campaign goal</option>
                                <option value="click">I want to get more clicks after campaign</option>
                                <option value="impression">I want to get more impressions after campaign</option>
                            </select>
                        </div>
                         <div class="col-md-2">
                        {#<a class="btn btn-primary" onclick="showResult();">See Result <span class="glyphicon glyphicon-chevron-right"></span></a>#}
                        <a id="see_result_button" class="btn btn-primary" onclick="showResultPage();">See Result <span class="glyphicon glyphicon-chevron-right"></span></a>
                        </div>
                    </div>

                </form>
            </div>


            <div class="col-md-12">
                <section id="AllCustomers" class="tile-list selectable on-load-fade-in">
                    <a href="http://www.baidu.com">
                        <span class="tile">
                            <img src="/static/images/logos/baidu.jpg" width="228"></span>
                        <header>Baidu</header>
                        <footer>The powerful search platform</footer>
                    </a>
                    <a href="http://us.weibo.com/gb">
                        <span class="tile">
                            <img src="/static/images/logos/weibo.jpeg" width="225"></span>
                        <header>Weibo</header>
                        <footer>Social media</footer>
                    </a>
                    <a href="http://www.wechat.com/en/faq.html#iphone">
                        <span class="tile">
                            <img src="/static/images/logos/wechat1.jpeg" width="215"></span>
                        <header>Wechat</header>
                        <footer>The powerful social media on smart phone</footer>
                    </a>
                    <a href="http://www.fang.com">
                        <span class="tile">
                            <img src="/static/images/logos/soufun.jpg" width="228"></span>
                        <header>Soufun</header>
                        <footer>Property investment platform</footer>
                    </a>
                    <a href="http://www.youku.com">
                        <span class="tile">
                            <img src="/static/images/logos/youku.png" width="228"></span>
                        <header>Youku Inc.</header>
                        <footer>Creating China's biggest video sites</footer>
                    </a>
                    <a href="http://www.tmall.com">
                        <span class="tile">
                            <img src="/static/images/logos/tmall.jpeg" width="220"></span>
                        <header>TMall</header>
                        <footer>Searching for treasures</footer>
                    </a>
                    <a href="http://www.ctrip.com">
                        <span class="tile">
                            <img src="/static/images/logos/ctrip.jpeg" width="220"></span>
                        <header>CTrip</header>
                        <footer>Travel website agency</footer>
                    </a>
                    <a href="http://www.taobao.com">
                        <span class="tile">
                            <img src="/static/images/logos/taobao.jpg" width="220"></span>
                        <header>Taobao</header>
                        <footer>Searching for treasures</footer>
                    </a>
                    <a href="http://hao.360.cn/">
                        <span class="tile">
                            <img src="/static/images/logos/360.jpg" width="220"></span>
                        <header>360 Search Engine</header>
                        <footer>The second largest search engine in China</footer>
                    </a>
                </section>
            </div>


        </div>
        <!-- /.row -->
        <div class="row">
            <table class="table hidden" id="result-table">
                <tr>
                    <th>Suggested Channel</th>
                    <th>Budget Allocation</th>
                    <th>Expected Clicks</th>
                    <th>Average Cost per Click</th>
                    <th>Expected Impressions</th>
                    <th>Average Cost per Impression</th>
                </tr>
            </table>
        </div>

    </div>

    <script src="{% static 'javascript/testGetResult.js' %}"></script>
    <script>
    var url = "/budget_allocation/get_industryNameList";
    $.get(url).done(function(data) {
        var selectElem = $("#selectCategory");

        $(data).each(function(idx, category) {
            transIndustryName = translateCategory(category.industryName);
            $("<option></option>").attr("value", category.industryName).html(transIndustryName).appendTo(selectElem)
        });
    }).fail(function(data) {
        alert("Status Code: " + data.status + ", Status Text: " + data.statusText + ", Response Text: " + data.responseText);
    });

    </script>
    {% endblock %}
