{% extends "member_service/base.html" %}    

    {% block title %}Glogou Featured Client in Education Sector{% endblock %}
    {% block description %}{% endblock %}
    {% block keyword %}{% endblock %}


    {% block content %}

        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">[ TWINS Placeholder ]</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
    {% endblock %}
