{% extends "asia_media_guide/base.html" %}

    {% block title %}Glogou - Asia Media Guide{% endblock %}
    {% block description %}{% endblock %}
    {% block keyword %}{% endblock %}


    {% block content_main %}
		<div class="col-md-12 MG-intro">
			<h2>Are you doing marketing and advertising on any online media? Do you want to attract more customers from Asian countries ? We can help you to grow your business there. &nbsp;&nbsp;&nbsp;&nbsp;
				<a class="btn btn-lg btn-primary" href="#">Contact Us Now</a>
			</h2>
		</div>
		
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab1" data-toggle="tab">China media guide</a></li>
            <li><a href="#tab2" data-toggle="tab">Japan media guide</a></li>
            <li><a href="#tab3" data-toggle="tab">Korea media guide</a></li>
			<li><a href="#tab4" data-toggle="tab">Taiwan media guide</a></li>
			<li><a href="#tab5" data-toggle="tab">Indonesia media guide</a></li>
        </ul>
		
		<div class="tab-content">
            <div class="tab-pane active" id="tab1">
				<h2>Please choose the website you are interested in: </h2>
				<div class="row MG-links">
					<ul>
						<li class="col-xs-6 col-sm-3 col-md-2"><a class="btn btn-default" href="http://glogou.com/china-online-marketing/baidu.php">Baidu</a></li>
						<li class="col-xs-6 col-sm-3 col-md-2"><a class="btn btn-default" href="http://glogou.com/china-online-marketing/zhidao.baidu.php">zhidao.baidu</a></li>
						<li class="col-xs-6 col-sm-3 col-md-2"><a class="btn btn-default" href="http://glogou.com/china-online-marketing/youku.php">Youku</a></li>
						<li class="col-xs-6 col-sm-3 col-md-2"><a class="btn btn-default" href="http://glogou.com/china-online-marketing/xiami.php">xiami</a></li>
						<li class="col-xs-6 col-sm-3 col-md-2"><a class="btn btn-default" href="http://glogou.com/china-online-marketing/wechat.php">wechat</a></li>
						<li class="col-xs-6 col-sm-3 col-md-2"><a class="btn btn-default" href="http://glogou.com/china-online-marketing/tieba.baidu.php">tieba.baidu</a></li>
						<li class="col-xs-6 col-sm-3 col-md-2"><a class="btn btn-default" href="http://glogou.com/china-online-marketing/tenpay.php">tenpay</a></li>
						<li class="col-xs-6 col-sm-3 col-md-2"><a class="btn btn-default" href="http://glogou.com/china-online-marketing/taobao.php">Taobao</a></li>
						<li class="col-xs-6 col-sm-3 col-md-2"><a class="btn btn-default" href="http://glogou.com/china-online-marketing/soufun.php">soufun</a></li>
						<li class="col-xs-6 col-sm-3 col-md-2"><a class="btn btn-default" href="http://glogou.com/china-online-marketing/sina.cn.php">sina.cn</a></li>
						<li class="col-xs-6 col-sm-3 col-md-2"><a class="btn btn-default" href="http://glogou.com/china-online-marketing/qunar.php">qunar</a></li>
						<li class="col-xs-6 col-sm-3 col-md-2"><a class="btn btn-default" href="http://glogou.com/china-online-marketing/qiyi.php">QiYi</a></li>
					</ul>
				</div>
			</div>
			<div class="tab-pane" id="tab2">
				<h2>Please choose the website you are interested in: </h2>
				<div class="row MG-links">
					<ul>
						<li class="col-xs-6 col-sm-3 col-md-2"><a class="btn btn-default" href="http://glogou.com/china-online-marketing/baidu.php">Baidu1</a></li>
						<li class="col-xs-6 col-sm-3 col-md-2"><a class="btn btn-default" href="http://glogou.com/china-online-marketing/zhidao.baidu.php">zhidao.baidu</a></li>
						<li class="col-xs-6 col-sm-3 col-md-2"><a class="btn btn-default" href="http://glogou.com/china-online-marketing/youku.php">Youku</a></li>
						<li class="col-xs-6 col-sm-3 col-md-2"><a class="btn btn-default" href="http://glogou.com/china-online-marketing/xiami.php">xiami</a></li>
						<li class="col-xs-6 col-sm-3 col-md-2"><a class="btn btn-default" href="http://glogou.com/china-online-marketing/wechat.php">wechat</a></li>
						<li class="col-xs-6 col-sm-3 col-md-2"><a class="btn btn-default" href="http://glogou.com/china-online-marketing/tieba.baidu.php">tieba.baidu</a></li>
						<li class="col-xs-6 col-sm-3 col-md-2"><a class="btn btn-default" href="http://glogou.com/china-online-marketing/tenpay.php">tenpay</a></li>
						<li class="col-xs-6 col-sm-3 col-md-2"><a class="btn btn-default" href="http://glogou.com/china-online-marketing/taobao.php">Taobao</a></li>
						<li class="col-xs-6 col-sm-3 col-md-2"><a class="btn btn-default" href="http://glogou.com/china-online-marketing/soufun.php">soufun</a></li>
						<li class="col-xs-6 col-sm-3 col-md-2"><a class="btn btn-default" href="http://glogou.com/china-online-marketing/sina.cn.php">sina.cn</a></li>
						<li class="col-xs-6 col-sm-3 col-md-2"><a class="btn btn-default" href="http://glogou.com/china-online-marketing/qunar.php">qunar</a></li>
						<li class="col-xs-6 col-sm-3 col-md-2"><a class="btn btn-default" href="http://glogou.com/china-online-marketing/qiyi.php">QiYi</a></li>
					</ul>
				</div>
			</div>
			<div class="tab-pane" id="tab3">
				<h2>Please choose the website you are interested in: </h2>
				<div class="row MG-links">
					<ul>
						<li class="col-xs-6 col-sm-3 col-md-2"><a class="btn btn-default" href="http://glogou.com/china-online-marketing/baidu.php">Baidu2</a></li>
						<li class="col-xs-6 col-sm-3 col-md-2"><a class="btn btn-default" href="http://glogou.com/china-online-marketing/zhidao.baidu.php">zhidao.baidu</a></li>
						<li class="col-xs-6 col-sm-3 col-md-2"><a class="btn btn-default" href="http://glogou.com/china-online-marketing/youku.php">Youku</a></li>
						<li class="col-xs-6 col-sm-3 col-md-2"><a class="btn btn-default" href="http://glogou.com/china-online-marketing/xiami.php">xiami</a></li>
						<li class="col-xs-6 col-sm-3 col-md-2"><a class="btn btn-default" href="http://glogou.com/china-online-marketing/wechat.php">wechat</a></li>
						<li class="col-xs-6 col-sm-3 col-md-2"><a class="btn btn-default" href="http://glogou.com/china-online-marketing/tieba.baidu.php">tieba.baidu</a></li>
						<li class="col-xs-6 col-sm-3 col-md-2"><a class="btn btn-default" href="http://glogou.com/china-online-marketing/tenpay.php">tenpay</a></li>
						<li class="col-xs-6 col-sm-3 col-md-2"><a class="btn btn-default" href="http://glogou.com/china-online-marketing/taobao.php">Taobao</a></li>
						<li class="col-xs-6 col-sm-3 col-md-2"><a class="btn btn-default" href="http://glogou.com/china-online-marketing/soufun.php">soufun</a></li>
						<li class="col-xs-6 col-sm-3 col-md-2"><a class="btn btn-default" href="http://glogou.com/china-online-marketing/sina.cn.php">sina.cn</a></li>
						<li class="col-xs-6 col-sm-3 col-md-2"><a class="btn btn-default" href="http://glogou.com/china-online-marketing/qunar.php">qunar</a></li>
						<li class="col-xs-6 col-sm-3 col-md-2"><a class="btn btn-default" href="http://glogou.com/china-online-marketing/qiyi.php">QiYi</a></li>
					</ul>
				</div>
			</div>
			<div class="tab-pane" id="tab4">
				<h2>Please choose the website you are interested in: </h2>
				<div class="row MG-links">
					<ul>
						<li class="col-xs-6 col-sm-3 col-md-2"><a class="btn btn-default" href="http://glogou.com/china-online-marketing/baidu.php">Baidu3</a></li>
						<li class="col-xs-6 col-sm-3 col-md-2"><a class="btn btn-default" href="http://glogou.com/china-online-marketing/zhidao.baidu.php">zhidao.baidu</a></li>
						<li class="col-xs-6 col-sm-3 col-md-2"><a class="btn btn-default" href="http://glogou.com/china-online-marketing/youku.php">Youku</a></li>
						<li class="col-xs-6 col-sm-3 col-md-2"><a class="btn btn-default" href="http://glogou.com/china-online-marketing/xiami.php">xiami</a></li>
						<li class="col-xs-6 col-sm-3 col-md-2"><a class="btn btn-default" href="http://glogou.com/china-online-marketing/wechat.php">wechat</a></li>
						<li class="col-xs-6 col-sm-3 col-md-2"><a class="btn btn-default" href="http://glogou.com/china-online-marketing/tieba.baidu.php">tieba.baidu</a></li>
						<li class="col-xs-6 col-sm-3 col-md-2"><a class="btn btn-default" href="http://glogou.com/china-online-marketing/tenpay.php">tenpay</a></li>
						<li class="col-xs-6 col-sm-3 col-md-2"><a class="btn btn-default" href="http://glogou.com/china-online-marketing/taobao.php">Taobao</a></li>
						<li class="col-xs-6 col-sm-3 col-md-2"><a class="btn btn-default" href="http://glogou.com/china-online-marketing/soufun.php">soufun</a></li>
						<li class="col-xs-6 col-sm-3 col-md-2"><a class="btn btn-default" href="http://glogou.com/china-online-marketing/sina.cn.php">sina.cn</a></li>
						<li class="col-xs-6 col-sm-3 col-md-2"><a class="btn btn-default" href="http://glogou.com/china-online-marketing/qunar.php">qunar</a></li>
						<li class="col-xs-6 col-sm-3 col-md-2"><a class="btn btn-default" href="http://glogou.com/china-online-marketing/qiyi.php">QiYi</a></li>
					</ul>
				</div>
			</div>
			<div class="tab-pane" id="tab5">
				<h2>Please choose the website you are interested in: </h2>
				<div class="row MG-links">
					<ul>
						<li class="col-xs-6 col-sm-3 col-md-2"><a class="btn btn-default" href="http://glogou.com/china-online-marketing/baidu.php">Baidu4</a></li>
						<li class="col-xs-6 col-sm-3 col-md-2"><a class="btn btn-default" href="http://glogou.com/china-online-marketing/zhidao.baidu.php">zhidao.baidu</a></li>
						<li class="col-xs-6 col-sm-3 col-md-2"><a class="btn btn-default" href="http://glogou.com/china-online-marketing/youku.php">Youku</a></li>
						<li class="col-xs-6 col-sm-3 col-md-2"><a class="btn btn-default" href="http://glogou.com/china-online-marketing/xiami.php">xiami</a></li>
						<li class="col-xs-6 col-sm-3 col-md-2"><a class="btn btn-default" href="http://glogou.com/china-online-marketing/wechat.php">wechat</a></li>
						<li class="col-xs-6 col-sm-3 col-md-2"><a class="btn btn-default" href="http://glogou.com/china-online-marketing/tieba.baidu.php">tieba.baidu</a></li>
						<li class="col-xs-6 col-sm-3 col-md-2"><a class="btn btn-default" href="http://glogou.com/china-online-marketing/tenpay.php">tenpay</a></li>
						<li class="col-xs-6 col-sm-3 col-md-2"><a class="btn btn-default" href="http://glogou.com/china-online-marketing/taobao.php">Taobao</a></li>
						<li class="col-xs-6 col-sm-3 col-md-2"><a class="btn btn-default" href="http://glogou.com/china-online-marketing/soufun.php">soufun</a></li>
						<li class="col-xs-6 col-sm-3 col-md-2"><a class="btn btn-default" href="http://glogou.com/china-online-marketing/sina.cn.php">sina.cn</a></li>
						<li class="col-xs-6 col-sm-3 col-md-2"><a class="btn btn-default" href="http://glogou.com/china-online-marketing/qunar.php">qunar</a></li>
						<li class="col-xs-6 col-sm-3 col-md-2"><a class="btn btn-default" href="http://glogou.com/china-online-marketing/qiyi.php">QiYi</a></li>
					</ul>
				</div>
			</div>
		</div>
 {% endblock %}
