{% extends "default_web/base.html" %}
{% load staticfiles %}

    {% block title %}Asia and China Media Planning{% endblock %}
    {% block description %}{% endblock %}
    {% block keyword %}{% endblock %}

    {% block content %}
        <div class="page-top">
            <ol class="breadcrumb">
                <li><a href="http://www.glogou.com">Home</a></li>
                <li class="active"><a href="/asia-media-planning/china-media/">China Media Planning</a></li>
            </ol>
            <h1>China Media Planning&nbsp;&nbsp;<small>Which Media to Choose and How to Allocate the Budget</small></h1>
        </div> <!--/page-top-->

        <section class="container">

            {% block content_main %}{% endblock %}

        </section>

    {% endblock %}
