{% extends "asia_media_planning/base.html" %}

    {% block content_main %}

    <!-- Page Content -->
    <div class="container">

        <div class="row">
             <div class="col-md-12">
                <h4 class="#{$fa-css-prefix}-align-left">Choose a business category and sub-category to plan a campaign:</h4>

                 <hr>

                <form class="form-horizontal #{$fa-css-prefix}-align-left" >
                    <div class="form-group">
                        <label class="col-md-1 control-label" for="selectCategory">Category</label>
                        <div class="col-md-2">
                            <select id="selectCategory" class="form-control" onchange="getSubCategory()">
                                <option value=""> Business sector</option>
                            </select>
                        </div>
                        <label class="col-md-1 control-label" for="selectSubCategory">Sub Category</label>
                        <div class="col-md-2">
                            <select id="selectSubCategory" class="form-control">
                                <option value="">Sub business sector</option>
                            </select>
                        </div>
                        <label class="col-md-1 control-label" for="selectGoal">Campaign Goal</label>
                        <div class="col-md-2">
                            <select id="selectGoal" class="form-control">
                                <option value="">the Campaign goal</option>
                                <option value="click">More clicks (leads)</option>
                                <option value="impression">More impressions</option>
                            </select>
                        </div>
                         <div class="col-md-2">
                            <a id="see_result_button" class="btn btn-primary" onclick="showResultPage();">See Recommendation&nbsp;&nbsp;&raquo;</a>
                        </div>
                    </div>

                </form>
            </div>


            <div class="col-md-12">
                <section id="AllCustomers" class="tile-list selectable on-load-fade-in">
                    <a href="http://www.glogou.com/adbaidu/">
                        <span class="tile">
                            <img src="../../static/images/logos/baidu.jpg" width="228"></span>
                        <header>Baidu</header>
                        <footer>The leading search engine in China</footer>
                    </a>
                    <a href="http://weibo-marketing.glogou.com/">
                        <span class="tile">
                            <img src="../../static/images/logos/weibo.jpeg" width="225"></span>
                        <header>Weibo</header>
                        <footer>The top social media in China</footer>
                    </a>
                    <a href="http://www.glogou.com/china-online-marketing/wechat.php">
                        <span class="tile">
                            <img src="../../static/images/logos/wechat1.jpeg" width="215"></span>
                        <header>Wechat</header>
                        <footer>The top social media on smart phone</footer>
                    </a>
                    <a href="http://www.glogou.com/china-online-marketing/soufun.html">
                        <span class="tile">
                            <img src="../../static/images/logos/soufun.jpg" width="228"></span>
                        <header>Soufun</header>
                        <footer>Property investment platform</footer>
                    </a>
                    <a href="http://www.glogou.com/china-online-marketing/youku.html">
                        <span class="tile">
                            <img src="../../static/images/logos/youku.png" width="228"></span>
                        <header>Youku Inc.</header>
                        <footer>China's biggest video sites</footer>
                    </a>
                    <a href="http://www.glogou.com/china-online-marketing/tmall.html">
                        <span class="tile">
                            <img src="../../static/images/logos/tmall.jpeg" width="220"></span>
                        <header>TMall</header>
                        <footer>Ecommerce website for branded products</footer>
                    </a>
                    <a href="http://www.glogou.com/china-online-marketing/ctrip.html">
                        <span class="tile">
                            <img src="../../static/images/logos/ctrip.jpeg" width="220"></span>
                        <header>CTrip</header>
                        <footer>Travel website</footer>
                    </a>
                    <a href="http://www.glogou.com/china-online-marketing/taobao.html">
                        <span class="tile">
                            <img src="../../static/images/logos/taobao.jpg" width="220"></span>
                        <header>Taobao</header>
                        <footer>Ecommerce website for everything </footer>
                    </a>
                    <a href="http://hao.360.cn/">
                        <span class="tile">
                            <img src="../../static/images/logos/360.jpg" width="220"></span>
                        <header>360 Search Engine</header>
                        <footer>The second largest search engine in China</footer>
                    </a>
                </section>
            </div>


        </div>
        <!-- /.row -->
        <div class="row">
            <table class="table hidden" id="result-table">
                <tr>
                    <th>Suggested Channel</th>
                    <th>Budget Allocation</th>
                    <th>Expected Clicks</th>
                    <th>Average Cost per Click</th>
                    <th>Expected Impressions</th>
                    <th>Average Cost per Impression</th>
                </tr>
            </table>
        </div>

    </div>

    <script src="../../static/javascript/testGetResult.js"></script>
    <script>
    var url = "/asia_media_planning/get_industryNameList";
    $.get(url).done(function(data) {
        var selectElem = $("#selectCategory");

        $(data).each(function(idx, category) {
            transIndustryName = translateCategory(category.industryName);
            $("<option></option>").attr("value", category.industryName).html(transIndustryName).appendTo(selectElem)
        });
    }).fail(function(data) {
        alert("Status Code: " + data.status + ", Status Text: " + data.statusText + ", Response Text: " + data.responseText);
    });

    </script>

    {% endblock %}